.App {
  text-align: center;
}

#background-img{
   background: rgba(0, 0, 0, 0) url('C:\Projects\Personal Projects\dnd-library-2.0\src\images\background.jpg') center center no-repeat fixed;
  background-size: cover;
}

.general-app{
 height: 1024px;
}

#landing-blurb{
  background: url('C:\Projects\Personal Projects\dnd-library-2.0\src\images\landing-image.png') no-repeat center center;
  text-align: center;

}

.navigation{
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



