.App {
  text-align: center;
}

@font-face {
  font-family: "SquareCaps";
  src: url('C:\Projects\Personal Projects\dnd-library-2.0\src\fonts\SquareCaps.ttf') format('truetype');
}

#background-img{
   background: rgba(0, 0, 0, 0) url('C:\Projects\Personal Projects\dnd-library-2.0\src\images\background.jpg') center center no-repeat fixed;
  background-size: cover;
}

.general-app{
 height: 1024px;
}

#landing-blurb{
 
  width: 800px;
  height: 620px;
  text-align: center;
  position: relative;
  top: 75px;
  margin-right: auto;
  margin-left: auto;
}

.intro{
 font-family: "SquareCaps";
 color: rgb(88, 19, 14);
 font-size: 55px
}

.navigation{
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



