/* General Styles for the App */
.App {
  text-align: center;
}

@font-face {
  font-family: "SquareCaps";
  src: url("./fonts/SquareCaps.ttf")
    format("truetype");
}

@font-face {
  font-family: "Blkchcry";
  src: url("./fonts/BLKCHCRY.TTF")
    format("truetype");
}

@font-face {
  font-family: "Cantebury";
  src: url("./fonts/Canterbury.ttf")
    format("truetype");
}


/* This will apply to all scrollable elements */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* This is your faded background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); 
}

.general-app {
  height: auto;
  min-height: 1000px;
}

/* Specific Styles for the App logo */
#background-img {
  background: rgba(0, 0, 0, 0)
    url("./images/background.jpg")
    center center no-repeat;
  background-size: cover;
}

#landing-blurb {
  background-color: grey;
  width: 800px;
  height: 500px;
  text-align: center;
  position: relative;
  top: 75px;
  margin-right: auto;
  margin-left: auto;
}

.intro {
  font-family: "SquareCaps";
  color: rgb(88, 19, 14);
  font-size: 55px;
}

.navigation {
  width: 100%;
  background-color: goldenrod;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
}

.logo {
  float: left;
  font-family: "SquareCaps";
  font-size: 30px;
  margin-left: 10px;
  margin-top: 13px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.navlist {
  float: right;
}

.nav-option {
  width: auto;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  font-family: "Blkchcry";
  text-align: right;
  color: rgb(88, 19, 14);
}

.nav-option:hover {
  color: wheat;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

.menu-item {
  float: left;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: "Blkchcry";
  color: rgb(88, 19, 14);
}

.menu-item:hover {
  color: wheat;
}

.scroll-container {
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0)
    url("./images/parchment.jpg")
    center center no-repeat;
  width: 1047px;
  height: 570px;
  overflow: scroll;
  font-family: "Cantebury";
}

.display-4 {
  font-family: "SquareCaps";
}

.search-index {
  font-family: "Cantebury";
  color: rgb(88, 19, 14);
  font-size: 55px;
  width: 800px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.landing-image{
  height: 300px;
  width:300px;
  float: left;
  margin-left: 10px;
}

.forward{
  overflow: auto;

}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.fade-out {
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
